<th:block th:fragment="titleContent">
    <title th:text="${title}">Title Filler</title>
</th:block>

<th:block th:fragment="bootstrapCss">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.3/css/bootstrap.min.css}"
          href="webjars/bootstrap/4.5.3/css/bootstrap.min.css">
</th:block>

<th:block th:fragment="bootstrapJS">
    <script th:src="@{/webjars/bootstrap/4.5.3/js/bootstrap.min.js}"
        src="webjars/bootstrap/4.5.3/js/bootstrap.min.js"> </script>
</th:block>

<th:block th:fragment="jQuery">
    <script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"
            src="webjars/jquery/3.5.1/jquery.min.js"> </script>
</th:block>

<th:block th:fragment="headerContent">
    <th:block th:include="/headcontent :: titleContent"></th:block>
    <th:block th:include="/headcontent :: bootstrapCss"></th:block>
    <th:block th:include="/headcontent :: jQuery"></th:block>
    <th:block th:include="/headcontent :: bootstrapJS"></th:block>
</th:block>