<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:include="headcontent :: titleContent"></th:block>
    <th:block th:include="headcontent :: bootstrapCss"></th:block>
</head>
<body>
    <th:block th:include="navigationcontent :: navigationContent"></th:block>
    <div class="container">
        <p>This is the home page</p>
        <span th:if="${vehiclePathKey != null && vehicleTextKey != null}">
            <a class="btn btn-primary" th:href="${vehiclePathKey}" th:text="${vehicleTextKey}">Vehicle Information</a>
        </span>
    </div>

</body>
</html>