<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:include="headcontent :: titleContent"></th:block>
    <th:block th:include="headcontent :: bootstrapCss"></th:block>
</head>
<body>
<th:block th:include="navigationcontent :: navigationContent"></th:block>

<div class="row">
    <div class="col-md-5 offset-md-4">
        <h2 class="offset-md-3">Register Below!</h2>
        <div>
            <form class="form-horizontal" th:object="${registrationForm}" th:action="@{register}" method="post">

                <div class="form-group" th:class="${#fields.hasErrors('username')} ?
                            'form-group has-error' : 'form-group'">
                    <label th:for="username">Username:</label>
                    <input type="text" class="form-control" th:field="*{username}"/>
                    <span class="form-text text-muted" th:if="${#fields.hasErrors('username')}">
                        <ul>
                            <li th:each="error: ${#fields.errors('username')}" th:text="${error}"></li>
                        </ul>
                    </span>
                </div>

                <div class="form-group" th:class="${#fields.hasErrors('password')} ?
                            'form-group has-error' : 'form-group'">
                    <label th:for="password">Password:</label>
                    <input type="password" class="form-control" th:field="*{password}"/>
                    <span class="form-text text-muted" th:if="${#fields.hasErrors('password')}">
                        <ul>
                            <li th:each="error: ${#fields.errors('password')}" th:text="${error}"></li>
                        </ul>
                    </span>
                </div>

                <div class="form-group" th:class="${#fields.hasErrors('confirmPassword')} ?
                            'form-group has-error' : 'form-group'">
                    <label th:for="confirmPassword">Confirm Password:</label>
                    <input type="password" class="form-control" th:field="*{confirmPassword}"/>
                    <span class="form-text text-muted" th:if="${#fields.hasErrors('confirmPassword')}">
                        <ul>
                            <li th:each="error: ${#fields.errors('confirmPassword')}" th:text="${error}"></li>
                        </ul>
                    </span>
                </div>

                <button type="submit" class="btn btn-primary">Register</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>