<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:include="headcontent :: titleContent"></th:block>
    <th:block th:include="headcontent :: bootstrapCss"></th:block>
</head>
<body>
    <th:block th:include="navigationcontent :: navigationContent"></th:block>
    <div class="container" th:if="${list != null}">
        <h3>Test Vehicles Below!</h3>
        <table class="table table-dark">
            <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Make, Model, Year</th>
                <th scope="col">Miles</th>
                <th scope="col">Front Left TP (psi)</th>
                <th scope="col">Front Right TP (psi)</th>
                <th scope="col">Back Left TP (psi)</th>
                <th scope="col">Back Right TP (psi)</th>
                <th scope="col">Vin #</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="vehicle : ${list}">
                <td th:text="${vehicle.getId()}"></td>
                <td th:text="${vehicle.getInformation()}"></td>
                <td th:text="${vehicle.getDistance()}"></td>
                <td th:text="${vehicle.getFrontLeftPSI()}"></td>
                <td th:text="${vehicle.getFrontRightPSI()}"></td>
                <td th:text="${vehicle.getBackLeftPSI()}"></td>
                <td th:text="${vehicle.getBackRightPSI()}"></td>
                <td th:text="${vehicle.getVin()}"></td>
            </tr>
            </tbody>
        </table>
<!--        <span th:if="${connectKey != null && brandKey != null}">-->
<!--            <a class="btn btn-primary" th:href="${connectKey}" th:text="${brandKey}">Go somewhere</a>-->
<!--        </span>-->
    </div>

    <div th:if="${error != null}">
        <p th:text="${error}">
        </p>
    </div>

</body>
</html>